<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Title:</b>
  <%= @recipe.title %>
</p>

<p>
  <b>Content:</b>
  <%= @recipe.content %>
</p>

<h2>Comments</h2>
<%= render @recipe.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<br /> 

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
